.nav {
  a {
    color: inherit;
  }

  ul {
    margin-bottom: var(--space-md);
  }
}

.nav__item {
  margin-top: var(--space-sm);

  &.active > a {
    font-weight: 600;
  }
}

.nav__heading {
  font-size: var(--text-md);
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }
}
